@model IEnumerable<Tour>

@{
    ViewBag.Title = "Danh sách Tour";
}

<h2>Danh sách Tour</h2>

<a href="Admin/Tour/Create" class="btn btn-success mb-3">Thêm Tour</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID Tour</th>
            <th>Tên Tour</th>
            <th>Giới thiệu</th>
            <th>Thời Gian</th>
            <th>Giá</th>
            <th>Khu vực</th>
            <th>Quốc Gia</th>
            <th>Phương tiện</th>
            <th>Khách sạn</th>
            <th>Điểm đến</th>
            <th>Lịch trình</th>
            <th>Ảnh</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID_TOUR</td>
                <td>@item.NAME_TOUR</td>
                <td>@item.DESCRIPTION_TOUR</td>
                <td>@item.TIME_TOUR</td>
                <td>@item.PRICE_TOUR</td>
                <td>@item.NAME_AREA</td>
                <td>@item.COUNTRY_TOUR</td>
                <td>@item.TRANSPORTATION_TOUR</td>
                <td>@item.HOTEL_TOUR</td>
                <td>@item.DESTINATION_TOUR</td>
                <td>@item.ITINERARY_TOUR</td>
                <td>@item.IMAGE_URL</td>
                

                <td>
                    <a href="Admin/Tour/Edit" asp-route-id="@item.ID_TOUR" class="btn btn-warning">Sửa</a>
                    @using (Html.BeginForm("Delete", "TourManager", FormMethod.Post, new { area = "Admin", onsubmit = "return confirm('Bạn có chắc muốn xóa?');" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", item.ID_TOUR)
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
