@model BookingTourTravelBuzz.Models.Guides.Guide
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Thêm Hướng Dẫn Viên Mới";
}

<h2>Thêm Hướng Dẫn Viên</h2>

@using (Html.BeginForm("Create", "Guide", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label class="form-label">Tên Hướng Dẫn Viên</label>
        @Html.TextBoxFor(model => model.FULLNAME_GUIDE, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label class="form-label">Vai trò</label>
        @Html.TextAreaFor(model => model.ROLE_GUIDE, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label class="form-label">Số điện thoại</label>
        @Html.TextBoxFor(model => model.PHONE_GUIDE, new { @class = "form-control", type = "number" })
    </div>

    <div class="form-group">
        <label class="form-label">Ngày sinh</label>
        @Html.TextBoxFor(model => model.BIRTHDAY_GUIDE, new { @class = "form-control", type = "date" })
    </div>

    <div class="form-group">
        <label class="form-label">Email</label>
        @Html.TextBoxFor(model => model.EMAIL_GUIDE, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label class="form-label">Trạng thái</label>
        <select asp-for="STATUS_GUIDE" class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-0">
            <option value="0">Đang chờ</option>
            <option value="1">Đang hoạt động</option>
        </select>
    </div>

    <div class="form-group">
        <label class="form-label">Giới tính</label>
        <select asp-for="ROLE_GUIDE" class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-0">
            <option value="0">Nam</option>
            <option value="1">Nữ</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Thêm Hướng Dẫn Viên</button>
    <a href="/Admin/Guide/ListGuides">Back to List</a>
}